.register_container{
    background-color: lightseagreen;
    padding: 20px;
    
    
    
    
}

.register_container h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.register_wrapper{
   
        color:white;
        display: flex;
        justify-content: center;

}

.register_wrapper form {
    width: 40%;
}

.form_control{
    
    margin-bottom: 15px;

}
.form_control input{
    border-radius: 20px;
    padding: 0px 15px;
}

.form_control input:focus{
    outline: none;
}
.form_control select{
    width: 120px;
    height: 30px;
    padding: 3px;
    border: 0;
    margin-left: 18px;
    border-radius: 10px;
    padding: 0px 7px;
}

.form_control select:focus{
 outline: none;
}

.form_control p{
    text-align: end;
}
.form_control button{
    border: 0;
    border-radius: 10px;
    padding: 0px 15px;
    height: 30px;
    background-color: blue;
    color: white;
}

.form_control button:focus{
    outline: none;
}

.NavLink:hover{
    outline: none;
    color: red;
    text-decoration: none;
}