.home_container{

  
}

.wrapper{
  overflow: hidden;
}

.swapper{
display: flex;
position: relative;
height: 78vh;
background-image: url('../../../../public/img/images.jpeg');
background-position: center;
background-size: cover;
transition: transform 1s linear;

}

.swapper h5{
  position: absolute;
  color: blue;
  font-size: 50px;
  top:50%;
  left: 50%;

}
