.nav_container{
    background-color: rebeccapurple;
    padding: 10px;
  
    margin-bottom: 20px;
   z-index: 10;
    top:0;
    left:0;
    height: 63px;
    width: 100%;
    position: sticky !important;
   
}

.main_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navbar_list {
      width: 70%;
      margin-top: 5px;
     
}
.navbar_list .navbar_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar_img{
    width: 20%;
}

.navbar_list ul{
    list-style-type: none;
    display: flex;
   
   
    
}
.navbar_list ul li{

    font-size: 19px;
    margin-left: 10px;
}

.navbar_right{
    display: flex;
}

 .NavLink{
    
    color: white;
    margin-right: 10px;
    text-decoration: none;

}

.navbar_list ul  li .NavLink:hover{
 color:aqua;
}


.navbar_left{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_login{
    display: flex;

}
.nav_login h4{
    margin-right: 24px;
}

