.hosp_footer{
    background-color: black;
    color: white !important;
    padding:20px 10px;
    margin:20px 0px 0px;
}
.wrapper{
    text-align: center;
 
}

.wrapper h3{
    margin-bottom: 20px;
}

.footer_content{
    display: flex;
    justify-content: space-around;

}

.footer_content div{
    background-color:lightblue;
    padding:10px;
    border-radius: 10px;
    width: 20%;
}

.copyright{
    margin:20px 0px;
    text-align: center;
}