.form_control.checkbox{
   display: flex;

   align-items: center;
  
 
}

.form_control.checkbox label{

 margin-top: 10px;
}

.check_doctor{
    margin-left: 30px;
    height: 20px;
    width: 25px;
   
}